<h1>Login</h1>
<% if(messages.error){ %> <%= messages.error %> <% } %>
<form method="POST" action="/login">
    <label for="email">email</label>
    <input type="text" name="email" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <button type="submit" name="login">login</button>
</form>
<a href="/register">Register</a>
